.catalog-video {
  @media (min-width: @tablet-width) {
    padding: 18px 60px 40px;
  }
}

.catalog-video__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 0 25px;
    font-size: 30px;
  }
}

.catalog-video__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @lightblack;

  @media (min-width: @tablet-width) {
    margin: 0 0 15px;
  }
}

.catalog-video__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    max-width: 445px;
    text-align: center;
    padding-bottom: 55px;
  }
}

.catalog-video__image {
  width: 100%;
}
