.main-search__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-search__discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: @lightblack;
}
