.main-search {
  text-align: center;
  width: 100%;
  padding-top: 41px;
  padding-bottom: 48px;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 58px;
  }
}

.main-search__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 19px;
  max-width: 262px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    max-width: 435px;
    margin-bottom: 33px;
  }
}

.main-search__discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: @lightblack;
  margin: 0 auto 32px;
  max-width: 262px;

  @media (min-width: @tablet-width) {
    max-width: 435px;
    margin-bottom: 40px;
  }
}

.main-search__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
  max-width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    max-width: 458px;
  }
}

.main-search__button:hover {
  background-color: #669ec0;
}

.main-search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-search__tablet-display {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
