.main-hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @pagegray;
  background-image: url("/img/hero/hero-back-desctop.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.main-hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 85px;
}

.main-hero__image {
  width: 282px;
  height: 214px;
  padding: 50px 10px 28px;
}

.main-hero__decor {
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-hero__decor img {
  width: 100%;
  height: 100%;
}
