.main-advantages__title {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.main-advantages__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @lightblack;
  margin: 0;
}

.main-advantages__wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-advantages__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-advantages__item {
  padding: 33px 18px 40px;
  text-align: center;
}

.main-advantages__item:nth-child(1) {
  padding-top: 54px;

  @media (min-width: @tablet-width) {
    padding-top: 33px;
  }
}

.main-advantages__item--recolor {
  background-color: #81b3d2;
  color: #ffffff;
}

.main-advantages__discription--recolor {
  color: #ffffff;
}

.main-advantages__discription.number {
  margin: 11px 0 17px;
}

.main-advantages__item.city-photo {
  padding: 0;
}
