.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

@media (min-width: @tablet-width) {
  .main-header {
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 100%;
  }
}
