*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.page {
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  background-color: #e7e5e5;
}
.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  min-width: 320px;
}
@media (min-width: 1200px) {
  .page__body {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1200px;
    background-color: #e7e5e5;
  }
}
.page__container {
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .page__container {
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
}
.main-header {
  background-color: #ffffff;
  min-width: 320px;
  min-height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 100%;
    z-index: 1;
  }
}
.main-header__logo {
  width: 185px;
  height: 96px;
  cursor: pointer;
  margin: 0 0 40px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .catalog {
    padding: 66px 60px 40px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding: 100px 0 62px;
  }
}
.catalog__head-wrapper {
  padding: 40px 20px 25px;
}
@media (min-width: 1200px) {
  .catalog__head-wrapper {
    width: 458px;
    min-height: 100px;
    margin: 0 auto;
  }
}
.catalog__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 24px;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 26px;
  }
}
.catalog__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 12px;
  color: #333333;
}
@media (min-width: 768px) {
  .catalog__discription {
    font-size: 12px;
  }
}
.catalog-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 14px 0 0;
}
@media (min-width: 768px) {
  .catalog-card__title {
    margin-top: 0;
  }
}
.catalog-card__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  color: #333333;
  margin: 0 0 11px;
}
@media (min-width: 768px) {
  .catalog-card__discription {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-card__discription {
    color: #ffffff;
  }
}
.catalog-card__wrapper {
  display: flex;
  min-width: 69px;
  align-items: center;
}
.catalog-card__image {
  display: block;
  width: 100%;
}
.catalog-card__icon-like {
  margin: 0 14px 0 0;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .catalog-card__icon-like {
    fill: #ffffff;
    opacity: 1;
  }
}
.catalog-card__link {
  height: 100%;
  cursor: pointer;
}
.catalog-card__link:hover {
  opacity: 60%;
}
.catalog-card__link:active {
  opacity: 30%;
}
.catalog-card__summa-like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.catalog-card__list {
  min-width: 250px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-card__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .catalog-card__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.catalog-card__item {
  padding: 25px 20px;
}
@media (min-width: 768px) {
  .catalog-card__item:nth-child(1) {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .catalog-card__item:nth-child(1) {
    grid-column: 1/4;
  }
}
@media (min-width: 768px) {
  .catalog-card__item {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-card__item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .catalog-card__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 22px 20px 15px;
  }
}
@media (min-width: 1200px) {
  .catalog-card__footer-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .catalog-card__footer-wrapper--recolor {
    background: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .catalog-card__footer-wrapper--recolor {
    background: rgba(0, 0, 0, 0.3);
  }
}
.catalog-video {
  padding: 17px 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-video {
    padding: 18px 60px 40px;
  }
}
.catalog-video__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 28px;
}
@media (min-width: 768px) {
  .catalog-video__title {
    margin: 0 0 25px;
    font-size: 30px;
  }
}
.catalog-video__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-video__discription {
    margin: 0 0 15px;
  }
}
.catalog-video__wrapper {
  padding: 0 6px 38px 8px;
  min-height: 116px;
}
@media (min-width: 768px) {
  .catalog-video__wrapper {
    margin: 0 auto;
    max-width: 445px;
    text-align: center;
    padding-bottom: 55px;
  }
}
.catalog-video__image-wrapper {
  position: relative;
}
.catalog-video__image {
  width: 100%;
  display: block;
}
.catalog-video__image-wrapper::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 54px;
  background-image: url("/img/catalog-main/catalog-video-play.svg");
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.feedback-form {
  padding: 0;
}
@media (max-width: 767px) {
  .feedback-form {
    max-width: 280px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .feedback-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .feedback-form__wrapper.turist-contacts {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .feedback-form__wrapper.turist-contacts {
    max-width: 960px;
  }
}
.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 24px auto 20px;
  text-align: center;
  width: 280px;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 21px;
    margin: 0 auto 28px;
  }
}
.feedback-form__list {
  padding: 0;
  list-style: none;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .feedback-form__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 576px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__effects .feedback-form__list {
    min-width: 960px;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .feedback-form__list--showplace {
    min-width: 480px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .feedback-form__list--showplace {
    min-width: 960px;
  }
}
.feedback-form__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 16px;
  position: relative;
  display: flex;
}
.feedback-form__item--radio {
  min-height: 46px;
  min-width: 280px;
  display: flex;
  align-items: center;
}
.feedback-form__input {
  font-weight: 700;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  resize: none;
  min-height: 58px;
  min-width: 280px;
  font-family: inherit;
}
@media (min-width: 1200px) {
  .feedback-form__input {
    min-width: 430px;
  }
}
.feedback-form__input--contacts.feedback-form__input {
  padding-right: 74px;
}
@media (min-width: 768px) {
  .feedback-form__input--contacts.feedback-form__input {
    max-width: 280px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__input--contacts.feedback-form__input {
    min-width: 402px;
  }
}
.feedback-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}
.feedback-form__label-title {
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  text-transform: uppercase;
}
.feedback-form__label--name {
  font-weight: 400;
}
.feedback-form__remark {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  opacity: 60%;
  margin: 0;
}
@media (min-width: 768px) {
  .feedback-form__remark {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    opacity: 1;
  }
}
.feedback-form__name {
  position: relative;
  margin: 0;
  padding: 0 0 22px;
  border: none;
}
@media (min-width: 768px) {
  .feedback-form__name {
    max-width: 280px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__name {
    max-width: 430px;
  }
}
.feedback-form__name::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  right: -20px;
  bottom: 0;
}
@media (min-width: 768px) {
  .feedback-form__name::after {
    display: none;
  }
}
.feedback-form__contacts {
  position: relative;
  margin: 0;
  padding: 0 0 17px;
  border: 0;
}
@media (min-width: 768px) {
  .feedback-form__contacts {
    min-width: 298px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__contacts {
    min-width: 402px;
  }
}
@media (min-width: 768px) {
  .feedback-form__list.contacts-list {
    max-width: 280px;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .feedback-form__list.contacts-list {
    min-width: 402px;
  }
}
.feedback-form__contacts::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  right: -20px;
  bottom: 1px;
}
@media (min-width: 768px) {
  .feedback-form__contacts::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__item--decor {
    width: 100%;
  }
}
.feedback-form__item--decor::after {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  top: 21px;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.feedback-form__item--decor.email::after {
  background-image: url("/img/form-main/email.svg");
}
.feedback-form__item--decor.number::after {
  background-image: url("/img/form-main/phone.svg");
}
.feedback-form__effects {
  position: relative;
  margin: 0;
  padding: 0 0 10px;
  border: none;
}
@media (min-width: 768px) {
  .feedback-form__effects {
    max-width: 648px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .feedback-form__effects {
    min-width: 960px;
  }
}
.feedback-form__effects::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  right: -20px;
  bottom: 3px;
}
@media (min-width: 768px) {
  .feedback-form__effects::after {
    display: none;
  }
}
.feedback-form__radio {
  padding: 10px 10px 10px 62px;
  position: relative;
}
.feedback-form__marcer {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  display: block;
  top: 0;
  left: 0;
  border-radius: 4px;
  cursor: pointer;
}
.feedback-form__marcer:hover {
  background-color: #e5e5e5;
}
.feedback-form__marcer:active {
  background-color: #d5d5d5;
}
.feedback-form__marcer--radio {
  border-radius: 50%;
}
.feedback-form__radio .feedback-form__input--radio[type="radio"]:checked + .feedback-form__marcer::before,
.feedback-form__radio .feedback-form__input--radio[type="radio"]:checked + .feedback-form__marcer::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  left: calc(50% - 16px / 2 + 0.1px);
  top: calc(50% - 16px / 2 + 0.45px);
}
.feedback-form__checkbox {
  position: relative;
  padding: 12px 10px 10px 62px;
}
.feedback-form__checkbox .feedback-form__input--checkbox[type="checkbox"]:checked + .feedback-form__marcer::before,
.feedback-form__checkbox .feedback-form__input--checkbox[type="checkbox"]:checked + .feedback-form__marcer::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  left: calc(50% - 22px / 2 + 0.1px);
  top: calc(50% - 16px / 2 + 0.45px);
  background-image: url("/img/form-main/chekcbox.svg");
  background-repeat: no-repeat;
}
.feedback-form__showplace {
  position: relative;
  margin: 0;
  padding: 0 0 14px;
  border: none;
}
@media (min-width: 768px) {
  .feedback-form__showplace {
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__showplace {
    max-width: 960px;
  }
}
.feedback-form__showplace::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  right: -20px;
  bottom: 1px;
}
@media (min-width: 768px) {
  .feedback-form__showplace::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__showplace .feedback-form__item {
    width: 224px;
    min-height: 46px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .feedback-form__showplace .feedback-form__item {
    max-width: 184px;
  }
}
.feedback-form__comment {
  margin: 24px auto;
  padding: 0;
  border: none;
  max-width: 280px;
}
@media (min-width: 768px) {
  .feedback-form__comment {
    min-width: 648px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__comment {
    min-width: 768px;
  }
}
.feedback-form__input--comment {
  min-width: 280px;
  min-height: 150px;
}
@media (min-width: 768px) {
  .feedback-form__input--comment {
    min-width: 648px;
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__input--comment {
    min-width: 768px;
  }
}
.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  padding: 16px 10px;
  min-width: 280px;
  min-height: 58px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
}
@media (min-width: 768px) {
  .feedback-form__button {
    min-width: 324px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button {
    min-width: 384px;
  }
}
.feedback-form__button:hover {
  background-color: #669ec0;
}
.feedback-form__button:active {
  background-color: #5496bd;
  color: #ffffff4d;
}
.feedback-form__footer-wrapper {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .feedback-form__footer-wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 648px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__footer-wrapper {
    min-width: 768px;
  }
}
.feedback__wrapper {
  padding: 36px 20px 24px;
}
@media (min-width: 768px) {
  .feedback__wrapper {
    padding: 64px 60px;
  }
}
@media (min-width: 1200px) {
  .feedback__wrapper {
    padding: 115px 80px 64px;
  }
}
.feedback__head-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 280px;
  text-align: center;
  padding: 0 0 12px 0;
}
@media (min-width: 768px) {
  .feedback__head-wrapper {
    max-width: 435px;
  }
}
@media (min-width: 1200px) {
  .feedback__head-wrapper {
    padding-bottom: 64px;
  }
}
.feedback__head-wrapper::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  right: -20px;
  bottom: 0;
}
@media (min-width: 768px) {
  .feedback__head-wrapper::after {
    display: none;
  }
}
.feedback__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 24px;
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 30px;
  }
}
.feedback__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 14px;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.main-advantages__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 11px;
  width: 284px;
}
@media (min-width: 768px) {
  .main-advantages__title {
    font-size: 21px;
    width: 190px;
  }
}
.main-advantages__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto 10px;
  width: 282px;
}
@media (min-width: 768px) {
  .main-advantages__discription {
    width: 190px;
  }
}
.main-advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto 17px;
  width: 284px;
}
@media (min-width: 768px) {
  .main-advantages__number {
    width: 190px;
  }
}
.main-advantages__number--recolor {
  color: #ffffff;
}
.main-advantages__wrapper {
  min-width: 320px;
  position: relative;
}
.main-advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.main-advantages__item-wrapper {
  background-color: #81b3d2;
  padding: 68px 0 29px 0;
  min-height: 117px;
}
@media (min-width: 768px) {
  .main-advantages__item-wrapper {
    width: 33.3%;
    padding-top: 57px;
    min-height: 173px;
  }
}
.main-advantages__item-wrapper--nodecor {
  padding: 37px 0 25px;
}
.main-advantages__item {
  text-align: center;
  min-width: 282px;
}
.main-advantages__item--recolor {
  color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .main-advantages__title--recolor {
    width: 190px;
  }
}
.main-advantages__discription--recolor {
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-advantages__discription--recolor {
    width: 190px;
  }
}
.main-advantages__image {
  width: 100%;
  background-color: #e7e5e5;
  display: block;
}
@media (min-width: 768px) {
  .main-advantages__image {
    width: 66.6%;
    flex-grow: 1;
  }
}
.main-advantages__sublist {
  list-style: none;
  background-color: #ffffff;
  color: #000000;
  text-align: start;
  margin: 0 auto;
  padding: 23px 18px 19px;
  min-width: 320px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-advantages__sublist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.main-advantages__item--wrapper-background-recolor {
  background-color: #eeeeee;
  padding: 27px 0 26px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .main-advantages__item--wrapper-background-recolor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }
}
.main-advantages__item--background-recolor {
  min-width: 190px;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-advantages__item--background-recolor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px 30px;
  }
}
.main-advantages__discription--decor {
  padding-bottom: 24px;
}
.main-advantages__title--decor {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .main-advantages__wrapper-tablet {
    display: flex;
    flex-wrap: wrap;
  }
}
.main-container {
  padding: 0;
}
.main-footer {
  min-width: 320px;
}
.main-footer__social {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-footer__social {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 128px;
}
.main-hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e7e5e5;
  background-image: url("/img/hero/back-hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-hero.main-hero--catalog {
  background-image: url("/img/hero/back-hero-catalog-mobile.jpg");
}
.main-hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: -1px;
  background-image: url("/img/hero/hero-triangle-desctop.svg");
  background-position: center, bottom;
}
.main-hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0 56px;
}
.main-hero__wrapper--catalog {
  padding: 52px 2px 39px;
}
.main-hero__image {
  width: 282px;
  height: 214px;
  margin-bottom: 28px;
}
.main-hero__image--catalog {
  width: 229px;
  height: 39px;
}
.main-hero__decor {
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-hero__decor img {
  width: 100%;
  height: 100%;
}
.main-map {
  background-color: #e7e5e5;
}
.main-map__wrapper {
  background-color: #ffffff;
}
.main-map__image {
  width: 100%;
  display: block;
}
.main-map__marker {
  display: none;
}
.main-nav {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    background-color: #ffffff;
    box-shadow: none;
  }
}
.main-nav.main-nav--opened {
  position: absolute;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav.main-nav--opened {
    position: static;
  }
}
.main-nav__toggle {
  display: block;
  min-width: 68px;
  min-height: 55px;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  background-color: transparent;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: #81b3d2;
  width: 23px;
  height: 4px;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .main-nav__list.site-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .main-nav--opened .site-list__item:nth-last-child(1)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-nav--nojs .site-list__item {
    display: flex;
  }
}
@media (max-width: 767px) {
  .main-nav--nojs {
    margin-top: 96px;
  }
}
.main-search {
  text-align: center;
  width: 100%;
  padding-top: 33px;
}
.main-search__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 20px;
  max-width: 262px;
}
@media (min-width: 768px) {
  .main-search__title {
    font-size: 30px;
    max-width: 435px;
  }
}
.main-search__discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto 32px;
  max-width: 262px;
}
@media (min-width: 768px) {
  .main-search__discription {
    line-height: 26px;
    max-width: 435px;
  }
}
.main-search__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
  max-width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto 49px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-search__button {
    max-width: 458px;
  }
}
.main-search__button:hover {
  background-color: #669ec0;
}
.main-search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.popup-form__wrapper {
  background-color: #ffffff;
}
.advantages-header__wrapper {
  padding: 35px 0 18px;
  text-align: center;
  width: 272px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages-header__wrapper {
    width: 520px;
  }
}
.advantages-header__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 37px;
  background-image: url("/img/advantages/advantages-userbar.svg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  top: 206px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .advantages-header__wrapper::after {
    display: none;
  }
}
.advantages-header__title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 37px;
}
@media (min-width: 768px) {
  .advantages-header__title {
    font-size: 21px;
  }
}
.advantages-header__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-list {
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .site-list {
    width: 100%;
  }
}
.site-list__link {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  padding: 17px 18px 12px;
}
@media (min-width: 768px) {
  .site-list__link {
    background-color: #ffffff;
    color: #000000;
    padding: 18px;
  }
}
@media (min-width: 768px) {
  .site-list__link:hover {
    color: #766357;
  }
}
@media (min-width: 768px) {
  .site-list__link:active {
    opacity: 60%;
    color: #000000;
  }
}
@media (min-width: 768px) {
  .site-list__link--current {
    color: #766357;
  }
}
.site-list__item {
  position: relative;
  text-align: center;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .site-list__item {
    box-shadow: none;
    min-width: 153px;
  }
}
.site-list__item:nth-child(1) {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .site-list__item:nth-child(1) {
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(4n+3) {
    grid-column-start: 4;
  }
}
.site-list__item:nth-last-child(1) {
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
}
.site-list__item:active {
  background-color: #5496bd;
}
.sublist-item__wrapper {
  padding: 0 0 26px 47px;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .sublist-item__wrapper {
    min-width: 256px;
    min-height: 331px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 30px;
    margin: 0;
  }
}
.sublist-item__wrapper--decor::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  top: -9px;
  left: 0;
}
@media (min-width: 768px) {
  .sublist-item__wrapper--decor::before {
    width: 80px;
    height: 80px;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
  }
}
.sublist-item__burger::before {
  background-image: url("/img/advantages/icon-burger.svg.svg");
}
.sublist-item__house::before {
  background-image: url("/img/advantages/icon-house.svg.svg");
}
.sublist-item__gift::before {
  background-image: url("/img/advantages/icon-gift.svg.svg");
}
.sublist-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 8px 0 16px 0;
}
@media (min-width: 768px) {
  .sublist-item__title {
    font-size: 21px;
    width: 190px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.sublist-item__discription {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}
@media (min-width: 768px) {
  .sublist-item__discription {
    width: 190px;
    text-align: center;
  }
}
.social__list {
  list-style: none;
  margin: 0 auto 35px;
  padding: 0;
  width: 156px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .social__list {
    margin: 0;
  }
}
.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
  opacity: 30%;
}
.social__link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.social__link--vkontakte::before {
  background-image: url("/img/footer/icon-vk.svg");
}
.social__link--telegram::before {
  background-image: url("/img/footer/icon-telegram.svg");
}
.social__link--youtube::before {
  background-image: url("/img/footer/icon-youtube.svg");
}
.social__link::before:active {
  opacity: 30%;
}
.social__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px 0 33px 0;
  display: flex;
  justify-content: center;
}
.social__title--catalog.social__title {
  margin-top: 21px;
}
.copyright__link {
  margin-left: 12px;
}
.copyright__link:hover {
  fill: #81b3d2;
}
.copyright__link:active {
  fill: #b3b3b3;
}
.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
